:modal {position:absolute;min-width:355px;margin:auto;padding:0;border:none;box-shadow: 1.4px 1.4px 29px 0 rgba(0, 0, 0, 0.08);font-size:13px;
  ::backdrop{background-color:$black;}
  form>*{box-sizing: border-box;padding:0.5em;}
  .p_header {display:flex;padding:7px 18px 8px;background-color:$black;color:#fff;font-size:16px;letter-spacing:-0.4px;
    .p_tit {flex:1;}
    .cancel{position:relative;align-self:center;width:15px;height:18px;font-size:0;
      &::before,&::after{position:absolute;top:0;display:inline-block;content:'';width:2px;height:18px;background-color:#fff;}
      &::before{transform:rotate(45deg);}
      &::after{transform:rotate(135deg);}
    }
  }
  .p_body{padding:35px 30px 30px;font-size:13px;letter-spacing:-0.33px;color:#111;line-height:20px;
    .p_body_tit{@include flex_between;margin-bottom:10px;
      h1{font-size:14px;color:#000;font-weight:bold;
        &::before{position:relative;top:-3px;display:inline-block;content:'';width:6px;height:6px;margin-right:7px;border-radius:6px;background-color:#c4c4c4;}
      }
    }
    table{width:100%;
      &.tbl_list{
        th{text-align:left;color:#111;font-weight:bold;
          ::before{display:inline-block;content:'';width:6px;height:6px;margin-right:7px;border-radius:6px;background-color:#c4c4c4;}
        }
        td{padding:4px;}
      }
    }
    .btn_wrap {justify-content: end;padding:20px 0 0;}
  }

  // p_mngOrg
  .warning_wrap{float:left;margin-right:15px;
    img{display:block;width:40px;height:34px;}
    & + div{font-weight:bold;}
  }
  .del_org{display:block;color:#ff5959;}
  // p_mngOrg2
  &.p_mngSearch{
    .tree_wrap>.sortable{height:200px;margin-top:10px;}
  }
  // p_mngMenu
  &.p_mngMenu{
    ul{padding:5px;border: 1px solid #c5c5c5;
      li{
        label{vertical-align: text-top;}
      }
    }
  }
}

.file_input{display:flex;
  &>input{flex:auto;}
  &>*{width:auto;margin-right:4px;align-self:center;vertical-align:middle;
    &:last-child{margin-right:0;}
  }
  
}
.upFile{position:absolute;left:-9999px;width:0;height:0;}