:modal {position:absolute;top:50%;left:50%;padding: 0;border:none;transform:translate(-50%, -50%);
  form>*{box-sizing: border-box;padding:0.5em;}
  .p_header {display:flex;padding:7px 20px 8px;background-color:#363636;color:#fff;font-size:16px;letter-spacing:-0.4px;
    .p_tit {flex:1;}
    .cancel{font-size:0;}
  }
  .p_body{padding:30px 35px;font-size:13px;}
  .btn_wrap {justify-content: end;}
}