.MultiFile-wrap{
  .multi{position:relative;width:72px;height:28px;float:right;overflow:visible;border-color:#aaa;
    &::before{position:absolute;content:'파일선택';top:-1px;left:-1px;line-height: 28px;padding:0 10px;background-color: #ebebeb;cursor: pointer;}
  }
  .MultiFile-list{float:left;width:calc(100% - 76px);min-height:28px;margin-right:4px;padding:0 6px;border: 1px solid #c5c5c5;border-radius: 2px;
    .MultiFile-remove{position:relative;display:inline-block;width:12px;height:12px;font-size:0;margin-left:5px;
      &+span{float:left;}
      &::before{@include fontello('\e928');position:absolute;top:-4px;font-size:13px;color:$red;} 
    }}
  .MultiFile-label{line-height:25px;}
}
.form_wrap{display:grid;padding:15px;border-bottom:2px solid #c0c0c0;
  input[type='date']{width:auto;}
  table{border:none;
    &.tbl_use_select{
      tr{
        &>td:first-child{text-align:center;}
      }
    }
  }
  .tit_form{display:grid;grid-template-columns:1fr auto;min-height:60px;margin-bottom:15px;
    h2{font-size:16px;color:#000;font-weight:bold;text-align:center;align-self:center;}
    table{
      th{height:24px;padding:0;font-weight:normal;font-size:12px;}
      td{height:35px;}
    }
  }
}
.editor_wrap{margin-top:-1px;padding:13px 10px;border:1px solid #ebebeb;
  .ck-editor__editable_inline {height:165px;}
}
.sign_wrap{padding:35px 0 15px;font-size:13px;color:#111;font-weight:bold;line-height:30px;
  p{
    &:first-child{text-align:center;}
    &:last-child{text-align:right;}
  }
}

.file_input{display:flex;
  &>input{flex:auto;}
  &>*{width:auto;flex:1;margin-right:4px;align-self:center;vertical-align:middle;
    &:last-child{margin-right:0;}
  }
}
