// 에디터 기능과 reset.css 충돌로 인한 수정(작업중)
.editor_wrap{
  *{margin:initial;padding:initial;font-size:inherit;color:inherit;}
  // list style
  .ck-content ol,
  .ck-content ul{margin-left:15px;}
  .ck-content li{list-style:inherit;}
  .ck-horizontal-line{margin:5px 0;border-bottom: 1px solid #c4c4c4;}
}